@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "highkeypizza";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #f9f9f9;
  --color-base-200: oklch(97% 0.001 106.424);
  --color-base-300: #eaeaea;
  --color-base-content: oklch(21% 0.006 56.043);
  --color-primary: #6c5fbc;
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: #dbd9ee;
  --color-secondary-content: #6c5fbc;
  --color-accent: #323142;
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(26% 0.007 34.298);
  --color-neutral-content: #999999;
  --color-info: oklch(37% 0.044 257.287);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(76% 0.233 130.85);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(70% 0.213 47.604);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@theme {
  --font-sans: "Poppins", sans-serif;

  /* Brand Colors */
  --color-purple: #6c5fbc;
  --color-purple-light: #dbd9ee;

  /* Text Colors */
  --color-text-darker: #252525;
  --color-text-dark: #323142;
  --color-text-medium: #606060;
  --color-text-light: #8e97a6;
  --color-text-lighter: #c2c3cb;
  --color-text-muted: #999999;

  /* Background Colors */
  --color-background-main: #f9f9f9;
  --color-background-footer: #eaeaea;
  --color-background-input: #f5f5f5;
  --color-background-input-dark: #f1f1f1;

  /* gray colors */
  --color-gray-light: #cbcbcb;
  --color-gray-lighter: #818181;
}
.custom-collapse .collapse-title::after {
  background-color: #6c5fbc !important;
  color: #ffff !important;
  content: "+" !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

  border-radius: 50% !important;
  width: 25px !important;
  height: 25px !important;
  line-height: 0.5 !important;
  font-weight: normal !important;
  padding-bottom: 1px !important;
  padding-left: 1px !important;
  padding-top: 1px !important;
}

.custom-collapse input:checked ~ .collapse-title::after {
  content: "-" !important;
  font-weight: normal !important;
  line-height: 0.5 !important;
  padding-top: 2px !important;
}
