@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@plugin "daisyui" ;

@theme {
  
  --font-sans: "Poppins", sans-serif;

  /* Brand Colors */
  --color-purple: #6c5fbc;
  --color-purple-light: #dbd9ee;

  /* Text Colors */
  --color-text-darker: #252525;
  --color-text-dark: #323142;
  --color-text-medium: #606060;
  --color-text-light: #8e97a6;
  --color-text-lighter: #c2c3cb;
  --color-text-muted: #999999;

  /* Background Colors */
  --color-background-main: #f9f9f9;
  --color-background-footer: #eaeaea;
  --color-background-input: #f5f5f5;
  
}
.custom-collapse .collapse-title::after {
  background-color: #6c5fbc !important; 
  color: #ffff !important; 
  content: "+" !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  
  border-radius: 50% !important;
  width: 25px !important;
  height: 25px !important;
  line-height: 0.5 !important;
  font-weight: normal !important;
  padding-bottom: 1px !important; 
  padding-left: 1px !important;
  padding-top: 1px !important;
}

.custom-collapse input:checked ~ .collapse-title::after {
  content: "-" !important;
  font-weight: normal !important;
  padding-bottom: 3px !important; 
  line-height: 0.5 !important; 
  padding-left: 1px !important;
  
}






